.home-content{
    padding-top: 117px; 
  }
  
  .text-title{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;  
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
  }
  .container-info{
    margin-top: 24px;
    width: 612px;
    margin-bottom:48px ;
  }
  
  .text-subtitle{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
  }
  
  .home-text {
    padding-left: 120px;
  }
  
  .main-image{
    width: 100%;
  }