.custom-navbar {
  height: 62px;
  width: 100vw;
  padding-left: 41px;
  padding-top: 3px;
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  background: #1890FF;
  

}
.navbar-logo-text {
  color: #FFF;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  text-decoration: none;
}